RewriteEngine On

RewriteRule ^project-8n-kiiyada$ project-8n-kiiyada.php [NC,L]

RewriteRule ^dashboard$ dashboard/index.php [NC,L]

RewriteRule ^logout$ dashboard/logout.php [NC,L]

RewriteRule ^dashboard/periodcount$ dashboard/periodcount.php [NC,L]

RewriteRule ^dashboard/teachers-leaving/request$ dashboard/teachers-leaving/request.php [NC,L]
RewriteRule ^dashboard/teachers-leaving/requested$ dashboard/teachers-leaving/requested.php [NC,L]
RewriteRule ^dashboard/teachers-leaving/download$ dashboard/teachers-leaving/download.php [NC,L]
RewriteRule ^dashboard/teachers-leaving/absent$ dashboard/teachers-leaving/absent.php [NC,L]


ErrorDocument 404 /404.php
ErrorDocument 403 /403.php


Options -Indexes

